* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-image: url(/public/images/bg-moon.jpg);
  }

  p {
    margin: 0 !important;
  }
  

.card {
  flex-direction: row !important;
  flex-wrap: wrap !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
}

#pre-header {
  background-color: #F8AC39;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  padding-top: 10px;
  align-content: center;
  
}



#cesta-carrito {
  border-radius: 50%;
  background-color: #000000;
  border: 0;
  padding: 15px;
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;
}

.modal-active {
  opacity: 1;
  visibility: visible;
  z-index: 5;
  display: block !important;
}

.modal {
  background-color: rgba(255, 255, 255, 0.5) !important;
  max-height: 100% !important;
}

.container {
  margin-top: 150px !important;
  display: flex;
  justify-content: space-between;
  
}

.material-icons {
  color: #F8AC39; 
  
}

.divsPago {
  width: 45%;
}

.divProductosCarrito {
  display: flex;
  align-items: flex-start;
}

.botones-modal {
  display: flex;
  justify-content: space-between;
}

#footer {
  background-color: #F8AC39;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

#redes {
  max-width: 300px;
  margin-top: 15px;
  margin-bottom: 15px;

}

#redes img {
  width: 30px;
  margin: 5px;
}

@media screen and (max-width: 600px) {
  .divsPago {
    width: 100%;
  }
}
